@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Metrophobic:regular);
@import url(https://fonts.googleapis.com/css?family=Pacifico:regular);
@import url(https://fonts.googleapis.com/css?family=Mitr:200,300,regular,500,600,700);

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

ul,
li,
ol {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

[class*="__container"] {
  max-width: 1440px;
  margin: 0 auto;
}
